[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "oh-my-zsh/custom/plugins/zsh-bat"]
	path = oh-my-zsh/custom/plugins/zsh-bat
	url = https://github.com/fdellwing/zsh-bat
[submodule "oh-my-zsh/custom/plugins/zsh-eza"]
	path = oh-my-zsh/custom/plugins/zsh-eza
	url = https://github.com/z-shell/zsh-eza
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
